.header-container{
    display: flex;
    justify-content:  space-around;
    align-items: center;
}



.header-content-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white    ;
}
.header-content-div h1{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 1px;
}
.header-content-div h1 span{
    color: yellow;
}
.header-content-div h2 {
    display: flex;
    gap: 10px;
}
.header-content-div h2 img{
    width: 30px;
    height: 30px;
    animation: animateImage linear 2s alternate infinite;
}

@keyframes animateImage {
   from{
    transform: rotate(10deg);
   }
   to{
    transform: rotate(-10deg);
   }
}


.header-content-div h2 p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: lighter;
}
.header-content-div div{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.header-content-div div button{
    padding: 8px 10px;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid lightgray;
    color: white;
    font-size: 15px;
    width: 200px;
}

.header-content-div div img{
    width: 80px;
    height: 80px;
    border-radius: 0px;
}




.header-content-div div button:hover{
    border: 1px solid yellow;
}

.animation-div{
    display: flex;
    justify-content: right;

    /* margin-top: -550px; */
}

.animation-div div{
    width: 500px;
    border: 1px solid lightgray;
    height: 500px;
    border-radius: 50%;
}



.coder-img{
    border-radius: 50%;
      width: 100%;
     max-height: 600px;
    border-radius: 100px;
}

@media screen and (max-width:769px) {
    .header-container{
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    .coder-img{
        position: absolute;
        width: 400px;
        left: 120px;
        top: -10px;
        opacity: 0.2;
        height: 400px;
    }
    
}



@media screen and (max-width:521px) {
   
    .header-content-div h1{
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
}
}



@media screen and (max-width:469px) {
   
    .header-content-div h1{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
}
}
