
nav ul li{
    color: white;
    
}

.nav-link-tag{
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
}
.nav-link-tag:hover{
    color: white;
    border-bottom: 1px solid white;
}

#logo-png{
    color: #fff;
    font-weight: 800;
    text-shadow: 0px 1px 1px;
    font-size: 24px;
    letter-spacing: 0.2px;
}
#logo-png img{
    width: 30px;
    height: 30px;
}

.btn-nav{   
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 14px;
}
.btn-nav:hover{
    background-color: white;
    color: black;
}