.patterns-content-parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    gap: 10px;
    margin-top: 40px;

}

.patterns-content-parent div{
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid rgba(211, 211, 211, 0.337);
    box-shadow: 0px 2px 5px #1e2227;
    min-height: 50vh;
    padding: 10px;
    align-items: center;
    justify-content: center ;
    border-radius: 10px;
    width: 500px;
    cursor: pointer;
}

.patterns-content-parent div:hover{
    border: 1px solid rgba(255, 255, 0, 0.407);
}

@media screen and (max-width:535px) {
    .patterns-content-parent div{
        width: 100%;
    }
}

.patterns-content-parent h1{
    font-family:cursive;
    font-weight: bold;
}
.patterns-content-parent h1 span{
    color: yellow;
    font-family: cursive;
}

.patterns-content-parent div button  {
   display: flex;
   align-items: center;
   background-color: transparent;
   margin-top: 10px;
   padding: 10px 10px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid rgba(211, 211, 211, 0.362);
    text-transform: lowercase;
    letter-spacing: 1px;
    font-family: cursive;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.patterns-content-parent div button:hover{
    border: 1px solid rgba(255, 255, 0, 0.464);
}
.patterns-content-parent div button img{
    width: 15px;
    height: 15px;
    margin-top: 4px;
   
    
}


.custom-accordion .accordion-button,
/* .custom-accordion .accordion-item, */
.custom-accordion .accordion-header {
  background-color: #1e2227;
  color: #fff;
  letter-spacing: 0.2px;
   /* background: #10242e;
background: linear-gradient(90deg, rgba(16, 36, 46, 1) 100%, rgba(10, 2, 2, 1) 100%, rgba(0, 0, 0, 1) 62%); */
border-radius: 10px;
  
}

.custom-accordion .accordion-header p{
    text-transform: uppercase;
    font-weight: 200;
 
    font-size: 14px;
}

.custom-accordion .accordion-item{
     background-color: #1e2227b2;
     color: white;
}


#img-pattern{
    width: 20px;

    height: 20px;
}

.arrow-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.arrow-btn-div button{
     padding: 7px 7px;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid lightgray;
    color: white;
    font-size: 15px;
    width: 40px;
}

.arrow-btn-div button:hover{
    border: 1px solid yellow;
}
.arrow-btn-div h6{
    color: white;
    font-weight: 300;
}

.btn-option-div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    
}
.btn-option-div button{
      padding: 8px;
      background-color: transparent;
      border: 1px solid lightgray;
      color: white;
      padding: 9px;
      border-radius: 10px;
}
.btn-option-div button i{
    margin-left: 10px;
}
.btn-option-div button:hover{
    border: 1px solid yellow;
}

 .custom-accordion .accordion-button::after {
  filter: invert(40%) sepia(100%) saturate(600%) hue-rotate(180deg);
  /* display: none; */
}

/* When expanded (not collapsed) */
.custom-accordion .accordion-button:not(.collapsed)::after {
  filter: invert(100%) sepia(50%) saturate(500%) hue-rotate(90deg);
}